* {
    box-sizing: border-box;
} 
/* h1{
    text-align: center;
} */
html{
    background-image: url('./images/tres.jpg');
    background-size: cover;
    min-height: 100%;
}
.bg{
    /*  background-image: url('./images/tres.jpg');
    background-size: cover;  */
    margin: 0;
    justify-content: center;
    position: relative;

}
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 0;
    
};

button,
input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}
h1{
    font-size: 50px;
    color: aliceblue;
    font-weight: 200;
}
h2 {
    font-size: 40px;
    color: aliceblue;
    font-weight: 200;
}
ul {
    background-color: aliceblue;
    display: inline-flex;
    flex-direction: column;
    flex-flow: row wrap;
    list-style: none;
    width: 100%;
     /*  padding: 0;
    margin: 0 auto; */
    
}
li {
    width: 250px;
    height:300px;
    margin: 8px;
    padding: 10px;
}

img {
    height: 200px;
    width: 200px;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}
#js-search-term {
    height: 40px;
    width: 85%;
    border-radius: 7px;
    border: none;
    padding-left: 15px;
    padding-right: 5px;
    margin-bottom: 20px;
}
#btn-one {
    background-color: rgb(0, 190, 98);
    border: 0;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
    height: 40px;
    width: 80px;
    margin-top: 10px;
    border-radius: 7px;
    
    }

